.toggler {
  width: 45px;
  height: 28px;
  position: absolute;
  left: 53px;
  top: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bar {
    background-color: #000;
    height: 4px;
    transition: all 0.3s ease-in-out;
  }

  &--clicked {
    .toggler__bar:nth-child(1) {
      transform-origin: left;
      transform: rotateZ(45deg) translateY(-5px);
    }
    .toggler__bar:nth-child(2) {
      display: none;
    }

    .toggler__bar:nth-child(3) {
      transform-origin: left;
      transform: rotateZ(-45deg) translateY(5px);
    }
  }
}
