.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: $spacing-x5;
  flex-wrap: wrap;

  &__toggler-box {
    width: $toggler-width;
    height: 65px;
    background-color: $green;
    display: flex;
    position: relative;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__triangle {
    height: 37px;
    flex-basis: 100%;
    align-self: flex-end;
    border-bottom: 37px solid $white;
    border-right: $toggler-width solid $green;
  }
}
