.intro {
  margin-top: 60px;
  text-align: center;

  &__header {
    padding: 35px 0;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
  }

  &__greeting {
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-weight: normal;
  }

  &__image {
    width: 217px;
    height: 85px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -10px);
    background: url("../images/thinking_guy.svg") no-repeat;
  }

  &__search {
    margin-top: 5px;
    padding: 15px 0;
    width: 255px;
    font-size: 15px;
    padding-left: 10px;
    border-color: #00000040;
    padding-left: 30px;

    &::placeholder {
      color: #0000003b;
    }
  }

  &__search-label {
    position: relative;
  }

  &__icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/search_icon.svg") no-repeat;
  }
}
