.newsletter {
  padding: $spacing-x6 58px $spacing-x8 58px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;

  &__header {
    font-weight: normal;
    padding-bottom: $spacing-x6;
    margin: 0;
    text-align: center;
  }

  &__bolded-word {
    color: $green;
  }

  &__input {
    width: 100%;
    padding: $spacing-x3 0 $spacing-x3 $spacing-x1;
    border-color: #00000080;
    margin-bottom: $spacing-x1;

    &:disabled {
      opacity: 0.7;
    }
  }

  &__button {
    width: 100%;
    padding: $spacing-x2 0;
    margin: $spacing-x2 0;
    background: $green;
    color: $white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;

    &:hover:not([disabled]) {
      background: darken($green, 5);
    }

    &:disabled {
      opacity: 0.7;
    }
  }

  &__explanation {
    margin: 0;
    font-size: 0.7rem;
  }

  @media (min-width: 1024px) {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
