.section-header {
  position: relative;
  margin: $spacing-x5 0 $spacing-x7 0;

  &__text {
    font-size: 1rem;
    background-color: $white;
    position: absolute;
    padding: 0 $spacing-x1;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  &__line {
    border-color: $green;
  }
}
