$green: #00cc14;
$white: #ffffff;
$black: #000000;

$toggler-width: 157px;

$spacing-x1: 5px;
$spacing-x2: 10px;
$spacing-x3: 15px;
$spacing-x4: 20px;
$spacing-x5: 25px;
$spacing-x6: 30px;
$spacing-x7: 35px;
$spacing-x8: 40px;


$box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
