@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "./variables";

@import "./Header";
@import "./Intro";
@import "./SectionHeader";
@import "./BlogCard";
@import "./Newsletter";
@import "./Footer";

@import "./partials/toggler";
@import "./partials/menu";
@import "./partials/logos.scss";
@import "./partials/list.scss";

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.posts {

  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
