@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "./variables";
@import "./utils";

@import "./Header";
@import "./Intro";
@import "./SectionHeader";
@import "./Posts";
@import "./BlogCard";
@import "./Newsletter";
@import "./Footer";

@import "./partials/toggler";
@import "./partials/menu";
@import "./partials/logo.scss";
@import "./partials/label";
@import "./partials/list.scss";

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
